body {
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;

}
.wrapper {
    align-items: center;
}
.grid-container {
  padding-top: 20%;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 200px;
  align-items: center;
  justify-content: center;
}

#up{
  color: green;
}

#down {
  color: red;
}


.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.grid-display {
}

.grid-meter {

}

.grid-button {

}
